body{
    padding: 0;
    margin: 10px;
    max-width: 100%;
    height: 100vh;
    background-color: cornflowerblue;
}

#top{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

#title{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#title h1{
    font-size: 80px;

}

#game-over h1,
#game-over h2{
    display: flex;
    justify-content: center;
    font-size: 60px;
}

#questions{
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#timer{
    font-size: 30px;
    border: black 2px solid;
    border-radius: 15px;
    padding: 5px;
    background-color: white;
    width: 225px;
    height: 40px;
}

#high-score, #go-back{
   height: 40px;
   font-size: 30px;
   border-radius: 15px;
   border: 2px black solid;
}

#high-score-box{
    font-size: 30px;
}

#high-score-box h3{
    display: flex;
    justify-content: center;
}

#retake-quiz{
    font-size: 30px;
}

#outline{
    display: flex;
    justify-content: center;
    align-items: center;
}

.answers{
    width: 45%;
    font-size: 30px;
    margin: 10px;
}

#start-btn{
    font-size: 90px;
    margin: 10px;
}

#quiz-container{
    padding: 30px;
    background-color: cornsilk;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;;
}

#controls{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.hide{
    display: none;
}

li p{
    display: block;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form button{
    width: 100px;
    margin-top: 10px;
}

#next{
    font-size: 40px;
}

#wrong{
    font-size: 20px;
    color: red;
}

#right{
    font-size: 20px;
    color: green;
}