body{
    padding: 0;
    margin: 10px;
    max-width: 100%;
    height: 100vh;
    background-color: cornflowerblue;
}

#top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

#questions{
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#timer{
    font-size: 30px;
    border: black 2px solid;
    border-radius: 15px;
    padding: 5px;
    background-color: white;
    width: 225px;
}

#high-score, #go-back{
   height: 10%;
   font-size: 30px;
   border-radius: 15px;
   border: 2px black solid;
}

#high-score-box{
    font-size: 50px;
}

#retake-quiz{
    font-size: 30px;
}

#outline{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answers{
    width: 45%;
    font-size: 30px;
    margin: 10px;
}

#start-btn{
    font-size: 90px;
    margin: 10px;
}

#quiz-container{
    padding: 30px;
    background-color: cornsilk;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;;
}

#controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}